<div class="row">
    <img [src]="recipeRecivedFromRecipeList.imagPath" alt="{{recipeRecivedFromRecipeList.name}}" class="img-responsive">
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeRecivedFromRecipeList.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropDown>
            <button type="button"
            class="btn btn-primary dropdown-toggle">
                Manage Receipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeRecivedFromRecipeList.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>